body{margin:0;
     background:#ffd;
     padding:0;
     text-align:center;
}
.gray{color:gray;
     font-weight:bold;
     font-size:30px;
}
.red{color:red;
     font-weight:bold;
     font-size:30px;
}
.blue{color:blue;
     font-weight:bold;
     font-size:30px;

}
.black{color:black;
     font-weight:bold;
     font-size:30px;

}
#container{width:700px;
           height:300px;
           border:1px solid #000;
           border-radius:5px;
           margin:10px auto;
           background:#fff;
}
table{margin:10px auto;
      border:2px solid #000;
      border-radius:5px;
      width:700px;
      height:280px;
}
tr{border-collapse:collapse;
  border:1px solid #000;

}
td{text-align:center;
}
